.status-bar {
	display: flex;
	margin-bottom: 30px;
	color: #656565;
	justify-content: space-between;
}

.status-bar i {
	font-size: 13px;
	align-items: center;
}

.status-bar .status-bar__battery-level {
	align-items: center;
}
